# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/CodeChunks.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/SemanticSymbols.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/4045f951-dee5-4c2e-b267-557e120446e4.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/.suo
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/Browse.VC.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/Browse.VC.opendb
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/ipch/AutoPCH/a656d30f450b82aa/IMGUI.ipch
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/ipch/AutoPCH/b293e61b5486068b/TERRAINCLASS.ipch
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/ipch/AutoPCH/c4738e0cff8053a1/TERRAINCLASS.ipch
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/ipch/bd4bce0a6681d1a8.ipch
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/.suo
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Browse.VC.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Browse.VC.db-shm
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Browse.VC.db-wal
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Browse.VC.opendb
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/DocumentLayout.backup.json
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/DocumentLayout.json
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/ipch/e7962cbe8f05147b.ipch
tertut01/Engine/ADPCMdroid.xwb
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/Cl.items.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.write.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/DirectXTKSimpleSample_2015.lastbuildstate
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.write.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.secondary.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.write.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.write.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.embed.manifest
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.embed.manifest.res
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.recipe
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exp
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.ilk
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.log
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.pdb
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.vcxproj.FileListAbsolute.txt
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015_manifest.rc
tertut01/Engine/Bin/Desktop_2015/x64/Debug/resource.res
tertut01/Engine/Bin/Desktop_2015/x64/Debug/vc143.idb
tertut01/Engine/Bin/Desktop_2015/x64/Debug/vc143.pdb
