# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/CodeChunks.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/SemanticSymbols.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/4045f951-dee5-4c2e-b267-557e120446e4.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/.suo
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/Browse.VC.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/Browse.VC.opendb
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/ipch/AutoPCH/a656d30f450b82aa/IMGUI.ipch
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/ipch/AutoPCH/b293e61b5486068b/TERRAINCLASS.ipch
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/ipch/AutoPCH/c4738e0cff8053a1/TERRAINCLASS.ipch
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v15/ipch/bd4bce0a6681d1a8.ipch
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/.suo
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Browse.VC.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Browse.VC.db-shm
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Browse.VC.db-wal
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Browse.VC.opendb
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/DocumentLayout.backup.json
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/DocumentLayout.json
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/ipch/e7962cbe8f05147b.ipch
tertut01/Engine/ADPCMdroid.xwb
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/Cl.items.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/CL.write.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/DirectXTKSimpleSample_2015.lastbuildstate
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/fxc.write.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.secondary.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/link.write.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXT.2c4f0429.tlog/rc.write.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.embed.manifest
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.embed.manifest.res
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exe.recipe
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.exp
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.ilk
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.log
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.pdb
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015.vcxproj.FileListAbsolute.txt
tertut01/Engine/Bin/Desktop_2015/x64/Debug/DirectXTKSimpleSample_2015_manifest.rc
tertut01/Engine/Bin/Desktop_2015/x64/Debug/resource.res
tertut01/Engine/Bin/Desktop_2015/x64/Debug/vc143.idb
tertut01/Engine/Bin/Desktop_2015/x64/Debug/vc143.pdb
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/Solution.VC.db
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/copilot-chat/1f20d884/sessions/316efad6-c456-4869-9b19-f6a3b342f22d
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/copilot-chat/1f20d884/sessions/b422aaa2-a3c9-4f63-9ca2-5ae9e3bc3362
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/3eb99e03-538b-4369-a58b-ace969427bc2.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/774503a7-cb12-44f8-9b1f-6ad6662eeb22.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/79b3dd1f-4dcd-4297-b816-49bdf1639796.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/84005441-b507-4563-9937-98b268c5f15a.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/8b1d6c92-f9b3-4e88-8d7f-860209a90615.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/c8ee025b-4b55-4ed7-b9c7-9ba7cc45babb.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/a400ddb5-e1cb-4de5-acba-5b414e58d6ed.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/587537b7-d38e-4468-9c20-a58a407e8a3b.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/5ee8b17a-f5fc-49c7-af02-b8be2b4bec3c.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/152dc896-6606-4264-9fa9-3859fc8d10ee.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/516151e3-eed7-4bff-8b65-7ea61e20e42f.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/fe0a22d1-a9b8-4b47-b7b9-086742b06056.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/fe7ecc37-9d25-4588-a16f-6a3bacd39e5f.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/101c8c67-0e26-4284-9814-a847359a86ff.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/3d8ee937-7f03-4121-8e46-86fba759f483.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/d4b42b67-53a1-40b5-a72c-e05e2256f68e.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/f9d7cff9-0660-4adf-b82a-0d7492cc23fc.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/fileList.bin
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/v17/ipch/53ff341950d4b7fb.ipch
tertut01/Engine/Bin/Desktop_2015/x64/Release/DirectXT.2c4f0429.tlog/DirectXTKSimpleSample_2015.lastbuildstate
tertut01/Engine/Bin/Desktop_2015/x64/Release/DirectXT.2c4f0429.tlog/fxc.command.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Release/DirectXT.2c4f0429.tlog/fxc.read.1.tlog
tertut01/Engine/Bin/Desktop_2015/x64/Release/DirectXT.2c4f0429.tlog/unsuccessfulbuild
tertut01/Engine/Bin/Desktop_2015/x64/Release/DirectXTKSimpleSample_2015.log
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/7230b2b0-f4fa-4b15-b440-222cbe5634c2.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/ae6f237b-5337-4006-9739-1a42be765cdd.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/d57187b2-b6a8-4d17-99b3-e1690de08772.vsidx
tertut01/Engine/.vs/DirectXTKSimpleSample_2015/FileContentIndex/e4b5889d-c8c2-4f6b-b11c-bbd5f3d1b977.vsidx
